---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/ipv4
    body:
      encoding: UTF-8
      string: '{"query":"\"deepMiner.min.js\" AND location.country_code: US"}'
    headers:
      Authorization:
      - "<CENSORED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 674ba575b1f90b009e8d8d718c988c22
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"location.country": "United States",
        "location.registered_country": "United States", "location.longitude": -81.326,
        "location.city": "Kent", "ip": "148.59.137.27", "location.registered_country_code":
        "US", "location.country_code": "US", "location.latitude": 41.1352, "location.province":
        "Ohio", "location.continent": "North America", "location.postal_code": "44240",
        "protocols": ["80/http"], "location.timezone": "America/New_York"}, {"location.country":
        "United States", "location.registered_country": "United States", "location.longitude":
        -98.3652, "location.city": "San Antonio", "ip": "207.71.5.167", "location.registered_country_code":
        "US", "location.country_code": "US", "location.latitude": 29.5559, "location.province":
        "Texas", "location.continent": "North America", "location.postal_code": "78233",
        "protocols": ["80/http", "443/https", "8080/http"], "location[...]
- request:
    method: post
    uri: "<CENSORED>"
    body:
      encoding: US-ASCII
      string: payload=%7B%22channel%22%3A%22%23general%22%2C%22text%22%3A%22Query%3A+%5C%22deepMiner.min.js%5C%22+AND+location.country_code%3A+US%5Cn148.59.137.27%5Cn207.71.5.167%5Cn23.92.217.120%5Cn35.193.203.101%5Cn18.219.42.53%5Cn18.218.21.245%5Cn166.78.135.164%5Cn104.197.12.57%5Cn207.71.5.173%5Cn192.169.234.142%5Cn54.218.0.119%5Cn192.241.181.229%5Cn69.89.12.81%5Cn52.25.101.209%5Cn159.203.187.176%5Cn50.31.138.161%5Cn104.131.103.146%22%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      X-Slack-Exp:
      - '1'
      X-Slack-Backend:
      - h
      X-Slack-Router:
      - p
      X-Via:
      - haproxy-www-928b
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Sat, 22 Sep 2018 08:50:21 GMT
recorded_with: VCR 4.0.0
